*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 10%;
    font-size: 1.125rem;
    .container .logo1{
        display: flex;
       .nav ul{
            display: flex;
            list-style: none;
            position: absolute;
            right: 5%;
        }
        li{
            margin-inline: 20px;
        }
        .fa-bars{
            display: none;
        }
        .logo{
            font-weight: bold;
            font-size: 1.4rem;
            font-family: Arial, Helvetica, sans-serif;
            span{
                color: orange;
            }
        }
        a{
            text-decoration: none;
            color: black;
        }
        a :hover{
            color: red;
            text-decoration: underline;
            background-color: yellow;
        }

    }

    .hero{
        position: relative;
        display: flex;
        margin-top: 8%;
        justify-content: space-between;
        
        .profile-pic{
            width: 45%;
        img{
            border-radius: 100%;
            margin-bottom: 5%;
        }
        }  
        .about{
            margin-top: 5%;
        
            p{
                padding-inline: 15%;
                line-height: 1.6rem;
                text-align: justify;
            }
            .about-title{
                margin-top: 2%;
                font-weight: bold;
            }
        }
        }

    footer {
        width: 100%;
        justify-content: center;

        table{
            justify-content: center;
            width: 100%;
            margin-top: 2%;
            ul{
                display: flex;
                list-style: none;
                justify-content: space-between;
            }
            
        }
        
    }
}
// @media screen and (max-width: 440px) {
//     body{
//         .container .logo1{
//            .nav ul{
//                 display: none;
//             }
//             .fa-bars{
//                 display: block;
//                 position: absolute;
//                 right: .5%;
//             }
//         }
//     }
// }
