@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&family=Raleway:wght@100;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@700&family=Poppins:wght@300;400;700&family=Raleway:wght@100;400&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: poppins;
  background-color: grey;
  padding: 10%;
  font-size: 1.125rem;
}

body .container .logo1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .container .logo1 .nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  position: absolute;
  right: 5%;
}

body .container .logo1 li {
  margin-inline: 20px;
}

body .container .logo1 li :hover {
  cursor: pointer;
}

body .container .logo1 .fa-bars {
  display: none;
}

body .container .logo1 .logo {
  font-weight: bold;
  font-size: 1.4rem;
  font-family: Arial, Helvetica, sans-serif;
}

body .container .logo1 .logo span {
  color: orange;
}

body .container .logo1 a {
  text-decoration: none;
  color: black;
}

body .container .logo1 a :hover {
  color: red;
  text-decoration: underline;
  background-color: yellow;
}

body .hero {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 8%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .hero .profile-pic {
  width: 45%;
}

body .hero .profile-pic img {
  border-radius: 100%;
  margin-bottom: 5%;
}

body .hero .about {
  margin-top: 5%;
}

body .hero p {
  padding-inline: 15%;
  line-height: 1.6rem;
}

body .hero .about-title {
  margin-top: 2%;
  font-weight: bold;
}

body .hero .h1 {
  font-size: 3em;
  font-weight: bold;
  font-family: oxygen;
}

body footer {
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body footer table {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-top: 2%;
}

body footer table ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body footer table a {
  color: black;
}

@media screen and (max-width: 440px) {
  body .container .logo1 .nav ul {
    display: none;
  }
  body .container .logo1 .fa-bars {
    display: block;
    position: absolute;
    right: .5%;
  }
}

@media screen and (max-width: 980px) {
  body {
    padding: 0;
  }
  body .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body .hero .profile-pic {
    width: 100%;
  }
  body .hero .profile-pic img {
    width: 100%;
    -webkit-box-pack: centerS;
        -ms-flex-pack: centerS;
            justify-content: centerS;
  }
  body .hero .about {
    text-align: center;
  }
}
/*# sourceMappingURL=main.css.map */